/10 kez sayı tahmin.docx
/biten
/chrome_60jIbNNoBj.png
/pyhton bankamatik uygulaması.docx
/Robot yönlendirme.docx
/sayı tahmin uygulaması pyhton.docx
/taş kağıt makas.docx
/yaş hesaplama.txt
/şifre oluşturan modül.docx